{% extends 'base.html' %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Password Reset</h3>
          </div>
          <div class="panel-body">
            <p>Your password has been successfully reset. You can log in now.</p>
            <p><a href="{% url 'accounts:login' %}">Login</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}